# build output
dist/

# generated types
.astro/

# dependencies
node_modules
node_modules/
node_modules.nosync/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

netlify/

# Netlify
.netlify/
